/* Desktop Query */

@media screen and (min-width: 600px) {
  .about-skills-software > * {
    flex: 1;
  }

  .about-intro > * {
    flex: 1 1 50%;
  }

  .about-photo {
    max-width: 25vw;
  }

  .about-intro {
    flex-direction: row;
  }

  .role-responsibility {
    font-weight: bold;
  }
}

/* Mobile Query */
@media screen and (max-width: 600px) {
  .about-skills-software > * {
    flex: 1 1 100%;
  }

  .about-intro > * {
    flex: 1 1 100%;
  }

  .about-photo {
    max-width: 40vw;
  }

  .about-intro {
    flex-direction: column-reverse;
  }

  .role-responsibility {
    font-weight: normal;
  }
}

.role-responsibility {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.role-title {
  padding: 0;
  margin: 0;
}

.about-skills-software > * {
  max-width: 100%;
}

.about-skills-software {
  display: flex;
  flex-wrap: wrap;
}

.about-photo {
  margin: auto;
  border-radius: var(--border-radius);
  border: 2px solid var(--border);
}

.about-photo-link {
  flex-direction: column;
}

.about-story {
  padding: 2rem;
}

.about-intro > * {
  margin: auto;
}

.about-intro {
  display: flex;
  flex-wrap: wrap;
}

.about-content {
  background-color: var(--bg);
  margin: 0 auto;
}

.about-content > section {
  margin: 1rem;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid var(--accent);
}
