.lang-cards-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.software-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.education-cards-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.role-cards-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.about-main-content {
  background-color: var(--bg);
  min-height: 100vh;
  width: 100%;
}

.about-intro {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: var(--accent-bg);
}

.about-story {
  padding: 1rem;
  background-color: var(--bg);
  border-radius: var(--border-radius);
}

.about-photo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-photo {
  border-radius: var(--border-radius);
  border: 2px solid var(--text);
}

.resume-button {
  justify-self: flex-end;
  width: 100%;
}

.about-content {
  margin: auto;
}

.about-content,
.about-content > *,
.about-content > section,
.about-content > .about-skills-software,
.about-content > .about-skills-software > section {
  background-color: var(--accent-bg);
}

.about-content > section > h2,
.about-content > .about-skills-software > section > h2 {
  margin: 0;
  color: var(--text-h);
  padding: 1rem 0;
  border-bottom: 2px solid var(--accent);
  border-top: 2px solid var(--accent);
  background-color: var(--bg);
  text-align: center;
}

.about-roles {
  border-bottom: 2px solid var(--accent);
}

.about-skills-software {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.about-skills-software > section {
  background-color: var(--bg);
  border-radius: var(--border-radius);
  height: fit-content;
  padding: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
  .about-content {
    width: 1200px;
  }
}

@media screen and (min-width: 600px) {
  .about-skills-software > section {
    flex: 1;
    width: 50%;
  }

  .role-responsibility {
    font-weight: bold;
  }

  .about-photo {
    max-width: 15vw;
  }

  .about-photo-link {
    gap: 2rem;
  }

  .about-intro > * {
    flex: 1;
    max-width: 50%;
  }

  .about-story {
    flex: 1 1 60%;
    max-width: 60%;
  }

  .about-intro {
    gap: 2.5rem;
    flex-direction: row;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .about-content {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .about-skills-software > section {
    flex: 1 1 100%;
  }

  .about-photo {
    max-width: 50cqw;
  }

  .about-photo-link {
    gap: 1rem;
  }

  .about-intro {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .about-content {
    width: 100%;
  }
}
