.lang-cards-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.education-cards-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.role-cards-container {
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-cards-container,
.software-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem;
}

.about-intro {
  padding: 0.5rem !important;
  display: flex;
  background-color: var(--accent-bg);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  overflow: hidden;
}

.about-intro > * {
  display: inline-flexbox;
  width: 50%;
  overflow: hidden;
  flex: 1 1 20rem;

  a,
  button {
    background-color: black;
    font-family: "IBM Plex Mono";
    font-weight: bold;
    color: white;
  }

  a:hover,
  button:hover {
    background-color: var(--accent);
    color: black;
  }
}

.about-photo-link {
  height: 40dvh;
}

.about-photo {
  height: 80%;
}

.resume-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  width: fit-content !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 44px;
  padding: 0.5rem !important;
}

.about-story {
  padding: 1rem;
  font-size: 1rem;
  flex: 1 1 50%;
  height: auto;
  display: inline-flexbox;
  border-radius: var(--border-radius);
  font-weight: 500 !important;

  b {
    color: var(--accent);
  }

  * {
    background: none !important;
  }
}

.about-photo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-photo {
  border-radius: var(--border-radius);
  border: var(--border-static);
}

.resume-button {
  justify-self: flex-end;
  width: 100%;
}

.about-content,
.about-content > *,
.about-content > section,
.about-content > .about-skills-software,
.about-content > .about-skills-software > section {
  padding: 0.5rem;
  background-color: var(--accent-bg);
}

.about-content > section > h2,
.about-content > .about-skills-software > section > h2 {
  margin: 0;
  color: var(--text-h);
  padding: 1rem 0;
  border-bottom: 2px solid var(--accent);
  border-top: 2px solid var(--accent);
  background-color: var(--bg);
  text-align: center;
}

.about-roles {
  border-bottom: 2px solid var(--accent);
}

.about-skills-software {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.about-skills-software > section {
  flex: 1;
  background-color: var(--bg);
  border-radius: var(--border-radius);
  height: fit-content;
  padding: 0.5rem;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
}
