.db-slider-overlay {
  background: radial-gradient(
    ellipse at center,
    rgba(105, 105, 105, 0) 40%,
    #313131 70%
  );
  mix-blend-mode: screen;
}

.db-slider-overlay,
.db-slider-bg,
.db-slider,
.db-slide {
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.db-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.db-slide > * {
  width: 100%;
  transform: scale(calc(16vh / 9vw));
  block-size: auto;
  opacity: 0;
  transition: opacity 1.25s ease-in-out;
}

.db-slide > *.active {
  opacity: 1;
}

.db-slider-bg {
  background-color: black;
}

main.dashboard {
  backdrop-filter: none;
}

.db-section {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: var(--bg);

  header {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    margin: none;
  }
}

.project-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 0 auto;
  padding: 0;
  justify-items: center;
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  .project-cards-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(30% - 2rem), 1fr));
    max-width: 1200px;
    justify-items: stretch;
  }

  .about-link-wrapper {
    flex-direction: column;
  }

  .about-teaser {
    display: flex;
    flex-direction: row;
  }

  .about-teaser > * {
    flex: 1 1 50%;
  }
}

/* Mobile Query */
@media screen and (max-width: 600px) {
  .about-link-wrapper {
    flex-direction: column-reverse;
  }

  .about-teaser {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-teaser > * {
    flex: 1 1 100%;
  }
}
