/* Desktop Query */

@media screen and (min-width: 600px) {
  .projectcard-container {
    max-width: 30%;
  }

  .projectcards-container {
    flex-direction: row;
  }

  .about-link-wrapper {
    flex-direction: column;
  }

  .about-teaser {
    display: flex;
    flex-direction: row;
  }

  .about-teaser > * {
    flex: 1 1 50%;
  }
}

/* Mobile Query */
@media screen and (max-width: 600px) {
  .projectcard-container {
    max-width: 95%;
  }

  .projectcards-container {
    flex-direction: column;
    overflow: visible;
    align-items: center;
  }

  .about-link-wrapper {
    flex-direction: column-reverse;
  }

  .about-teaser {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-teaser > * {
    flex: 1 1 100%;
  }
}

.about-full-link {
  flex: 1 1 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--accent);
  color: var(--text-h);
}

.about-thumbnail {
  max-width: 25vw;
  margin: 0 auto;
  block-size: auto;
}

.about-link-wrapper {
  display: flex;
  gap: 1rem;
}

.about-teaser {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.projectcard-container {
  box-sizing: auto;
}

.projectcards-container {
  width: 100%;
  padding: 1rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 1rem;
}

.home-content > section > h2 {
  color: var(--text-h);
  padding: 1rem 0 1rem 0;
  margin: 0;
  background-color: var(--accent);
}

.home-content > section {
  margin: 0 auto;
}

.home-content {
  background-color: var(--bg);
  margin: 0 auto;
  width: 100%;
}

main {
  backdrop-filter: blur(10px);
  background-image: url(https://cdn.pixabay.com/photo/2022/04/26/13/04/sky-7158340_1280.jpg);
  background-attachment: fixed;
}
