.project-cards-container {
  width: 100%;
  padding: 0.5rem;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.db-showcase-slider {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: scale(1.5);
}

.db-showcase-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.db-showcase-slide > * {
  height: 100%;
  max-height: 100%;
  inline-size: auto;
  object-fit: cover;
  opacity: 0;
  transform: scale(1);
  transition: opacity 1.25s ease-in-out;
}

.db-showcase-slide > *.active {
  opacity: 1;
  transform: scale(1);
}

main.dashboard {
  width: 100%;
  backdrop-filter: none;
}

main.dashboard h2 {
  position: relative;
  color: var(--text-h);
  padding: 1rem 0 1rem 0;
  margin: 0;
  margin: auto;
  width: fit-content;
  border-bottom: 1px solid white;
}

main.dashboard > section {
  overflow: hidden;
  position: relative;
  background-color: var(--accent-bg);
  width: 96%;
  margin: auto;
}

.project-cards-container {
  position: relative;
}

/* Desktop Query */

@media screen and (min-width: 1200px) {
  .project-cards-container {
    width: 1200px;
  }
}

@media screen and (min-width: 600px) {
  .project-cards-container {
    flex-direction: row;
    overflow: hidden;
  }

  .about-link-wrapper {
    flex-direction: column;
  }

  .about-teaser {
    display: flex;
    flex-direction: row;
  }

  .about-teaser > * {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .project-cards-container {
    width: 95%;
  }
}

/* Mobile Query */
@media screen and (max-width: 600px) {
  .project-cards-container {
    flex-direction: column;
    overflow: visible;
    align-items: center;
    width: 100%;
  }

  .about-link-wrapper {
    flex-direction: column-reverse;
  }

  .about-teaser {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-teaser > * {
    flex: 1 1 100%;
  }
}
