/* Desktop Query */

@media screen and (min-width: 768px) {
  .project-links {
    flex-direction: row;
  }

  .about-link-wrapper {
    flex-direction: column;
  }

  .about-teaser {
    display: flex;
    flex-direction: row;
  }

  .about-teaser > * {
    flex: 1 1 50%;
  }

  .home-content > section {
    padding: 2rem 2rem 2rem 2rem;
  }

  .home-content {
    width: 90%;
  }
}

/* Mobile Query */
@media screen and (max-width: 768px) {
  .project-links {
    flex-direction: column;
    overflow: scroll;
    align-items: center;
  }

  .about-link-wrapper {
    flex-direction: column-reverse;
  }

  .about-teaser {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-teaser > * {
    flex: 1 1 100%;
  }

  .home-content {
    width: 100%;
  }
}

.about-full-link {
  flex: 1 1 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--accent-bg);
  color: var(--text);
}

.about-thumbnail {
  max-width: 25vw;
  margin: 0 auto;
  block-size: auto;
}

.about-link-wrapper {
  display: flex;
  gap: 1rem;
}

.about-teaser {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-links {
  background-color: var(--accent);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
}

.home-content > section > h2 {
  color: var(--text-h);
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
  margin: 1rem auto 2rem auto;
}

.home-content > section {
  margin: 0 auto;
}

.home-content {
  background-color: var(--bg);
  margin: 0 auto;
}

main {
  backdrop-filter: blur(10px);
  background-image: url(https://cdn.pixabay.com/photo/2022/04/26/13/04/sky-7158340_1280.jpg);
  background-attachment: fixed;
}
