.lang-card-container {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
  background-color: var(--bg);
  filter: brightness(1);
  transition: filter 0.05s ease;
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
}

.lang-card-container:hover {
  filter: brightness(1.1);
}

.lang-card-text-label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text);
}
