.role-card-container {
  padding: 1rem;
  width: 100%;
  flex: 0 1 100%;
  border-radius: 0.25rem;
  background-color: var(--bg);
  filter: brightness(1);
  transition: filter 0.05s ease;
}

.role-card-container:hover {
  filter: brightness(1.1);
}

.role-card-header > * > h3 {
  color: var(--text-h);
  margin: 0;
  padding: 0;
}

.role-card-header > * {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.role-card-header {
  margin: 0;
  padding-bottom: 0.5rem;
  color: var(--text-h);
  text-align: start;
  width: 100%;
}

.role-card-body > *::marker {
  color: var(--accent);
}

.role-card-body {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  text-align: left;
  border-left: 2px solid var(--accent);
  color: var(--text);
}
