.software-card-container > img {
  block-size: auto;
  height: 2rem;
}

.software-card-container {
  flex: 1 1 auto;
  transition: filter 0.05s ease;
  border-radius: 0.25rem;
  overflow: hidden;
  filter: brightness(1);
  background-color: var(--accent-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  gap: 0.5rem;
  padding: 0.25rem;
  font-weight: normal;
}

.software-card-container:hover {
  filter: brightness(1.1);
}
