.software-card-container {
  flex: 1 1 auto;
  transition: filter 0.05s ease;
  border-radius: 0.25rem;
  overflow: hidden;
  filter: brightness(1);
  background-color: var(--accent-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  box-sizing: border-box;
}

.software-card-container:hover {
  filter: brightness(1.1);
}

.software-card-container > img {
  block-size: auto;
  height: 2rem;
  display: block;
}

.software-card-text-label {
  font-size: 100%;
  font-weight: normal;
  color: var(--text);
  text-align: center;
  text-justify: auto;
  display: inline-block;
}
