.about h2 {
    padding:1rem;
}

.about p {
    text-align: start;
    text-indent: 3rem;
}

.about-photo {
    box-sizing: auto;
    max-inline-size: 50%;
    margin:1rem;
}

.about.flex-col-container {
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

.about.flex-container {
    gap:1rem;
    justify-content: center;
}