.about h2 {
    padding:1rem;
}

.about p {
    text-align: start;
    text-indent: 3rem;
}

.about-photo {
    box-sizing: auto;
    max-inline-size: 50%;
    margin:1rem;
}

.about.flex-col-container {
    justify-content: center;
    align-items: center;
    max-width: 40%;
}


.flex-col-container {
    display:flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
}

.about.flex-container {
    gap:1rem;
    justify-content: center;
}

.flex-container {
    display:flex;
    padding:1rem;
    margin:1rem;
}

section.top {
    margin-top: var(--navbar-height);
}