:root {
  --button-icon-font-size: 2rem;
}

a:visited {
  text-decoration: none;
}

.button > * {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.overlay-button {
  position: fixed;
  filter: drop-shadow(0px 2px 5px var(--shadow));
}

.button {
  color: var(--text-h);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--accent);

  text-align: center;
  text-justify: auto;
  text-decoration: none;
  font-weight: bold !important;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  transform: scale(1);
  transition:
    transform 0.1s ease,
    filter 0.1s ease;

  user-select: none;
  -webkit-user-select: none; /* Safari, Chrome, Opera, iOS, Android */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge (Legacy) */
  cursor: pointer;
}

.button:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}
