.lightbox {
  height:95%;
  inset: 0;
  overflow:hidden;
}

.lightbox-container {
  width:90vw;
  height:90vh;
  padding:0;
  margin:auto auto;
}

.embla__close {
  height:fit-content;
  width: fit-content;
  position:relative;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
}

.embla__sideArrow {
  position:absolute;
  height:100%;
  top:0;
}

.embla__prev {
  left:0;
}

.embla__next {
  right:0;
}

.inactive
{
  filter:brightness(50%);
}

.gallery-button
{
  border-radius: 1rem;
  background-color:white;
  flex:0 0 1rem;
  width:1rem;
  height:1rem;
  border:none;
}

.gallery-buttons {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height:2rem;
  gap:1rem;
}

.embla__viewport {
  overflow: hidden;
  background-color:red;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  align-content: space-between;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide > * {
  inset:0;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--slide-spacing);
  height:95%;
  margin: auto auto;
}

.embla {
  display:flex;
  --slide-spacing: 0;
  --slide-spacing-md-up: 5%;
}

@media (min-width: 768px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-md-up) * -1);
  }

  .embla__slide {
    padding-left: var(--slide-spacing-md-up);
  }
}