.lightbox {
  height:95%;
  inset: 0;
  overflow:hidden;
}

.lightbox-container {
  width:90vw;
  height:90vh;
  padding:0;
  margin:auto auto;
}

.embla__close {
  height:fit-content;
  width: fit-content;
  position:relative;
  bottom:0;
  left:0;
  right:0;
  margin: 0 auto;
}

.embla__sideArrow {
  position:absolute;
  height:100%;
  top:0;
}

.embla__prev {
  left:0;
}

.embla__next {
  right:0;
}

.inactive
{
  filter:brightness(50%);
}

.gallery-button
{
  border-radius: 1rem;
  background-color:white;
  flex:0 0 1rem;
  width:1rem;
  height:1rem;
  border:none;
}

.gallery-buttons {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height:2rem;
  gap:1rem;
}

.embla__viewport {
  overflow: hidden;
  max-width:95%;
  max-height:400px;
  background-color:red;
  border-radius: 1rem;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  align-content: space-between;
  gap:1rem;
  height:100%;
}

.embla__slide > * {
  height:100%;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  block-size: auto;
  border-radius: 0.5rem;
  filter:drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  height:100%;
}

.embla {
  display:flex;
}