@media screen and (min-width: 600px) {
  .hero-photo {
    max-height: fit-content;
    align-self: flex-end;
    max-width: 20%;
  }

  .hero-photo-text {
    flex-direction: row-reverse;
    gap: 5rem;
  }

  .hero-text {
    gap: 1rem;
    flex-direction: column;
    flex: 1 1 45%;
  }

  .hero {
    padding: 20vh 8vw 20vh 8vw;
  }
}

@media screen and (max-width: 600px) {
  .hero-about-link {
    max-width: 30%;
  }

  .hero-photo {
    align-self: flex-start;
    max-width: 35%;
    margin: auto 0;
  }

  .hero-photo-text {
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }

  .hero-text {
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }

  .hero {
    padding: 10vh 8vw 10vh 8vw;
  }
}

.hero-about-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: var(--text-h);
  border-radius: var(--border-radius);
  text-align: center;
  background-color: var(--accent);
  max-width: 30%;
}

.hero-photo {
  display: flex;
  border-radius: 0.25rem;
  border: 3px solid var(--border);
}

.hero-text > * {
  display: flex;
  align-items: center;
}

.hero-text {
  display: flex;
  color: var(--text);
}

.job-title {
  color: var(--accent);
}

.hero-photo-text {
  display: flex;
  text-align: start;
}

.hero-content-container {
  position: relative;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.fade-image.active {
  opacity: 1;
  filter: blur(8px) brightness(50%);
}

.fade-image {
  position: absolute;
  margin: auto auto;
  block-size: auto;
  width: 100%;
  opacity: 0;
  transition: opacity 1.6s ease-in-out; /* Fade duration */
  filter: blur(8px) brightness(50%);
  transform: scale(3);
}

.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
}
