header.hero {
  position: relative;
  display: flex;
  gap: 1.5cqh;

  justify-content: space-between;
  align-items: stretch;
}

header.hero > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: start;
  position: relative;
  gap: 2cqh;
}

header.hero > section.intro {
  align-items: flex-start;
  flex: 1 1 auto;
  max-width: 65cqh;

  h1 {
    color: var(--accent);
    font-family: "Major Mono Display";
  }

  .hero-job-title {
    font-size: 2rem;
    line-height: 1.8rem;
    letter-spacing: 0.15em;
    font-family: "Major Mono Display";

    color: var(--text-h);
  }

  .hero-loc {
    color: var(--text-h);
    display: inline-flex;
    font-family: "IBM Plex Mono";
    text-transform: uppercase;
    font-weight: 300 !important;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    gap: 0.25rem;

    span {
      color: var(--accent);
    }
  }

  .hero-tagline {
    color: var(--text-h);
    font-family: "IBM Plex Mono";
    font-weight: 500 !important;
    letter-spacing: 0.04em;
    line-height: 1.75em;

    font-size: 1rem;
  }

  * {
    margin: 0;
  }
}

header.hero > section.intro > * {
  align-items: center;
}

.av-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-av {
    opacity: 0.75;
    mix-blend-mode: normal;
    object-fit: cover;
    max-height: 30dvh;
  }
}

@media screen and (min-width: 600px) {
  header.hero {
    margin: 3rem;
    flex-wrap: nowrap;

    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  header.hero {
    margin: 1rem;
    flex-direction: column-reverse;
    flex-wrap: wrap;

    * {
      padding: 0.1rem;
    }
  }

  header.hero > section.intro {
    h1 {
      font-size: 9cqw;
      line-height: 9cqw;
    }

    .hero-job-title {
      font-size: 6cqw;
      line-height: 6cqw;
    }

    .hero-loc {
      font-size: 5cqw;
      line-height: 5cqw;
    }
  }

  header.hero > section.intro > * {
    justify-content: center;
    width: 100%;
  }
}
