header img {
    max-inline-size: 70%;
}

header > * {
    margin: auto auto;
}

header {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 1rem;
    padding: 1rem;
    border-bottom: 2px solid gray;
}