@media screen and (min-width: 600px) {
  .hero-about-link {
    max-width: 45%;
  }

  .hero-photo {
    align-self: flex-end;
    max-width: 25vw;
  }

  .hero-photo-text {
    flex-direction: row-reverse;
    gap: 30%;
  }

  .hero-text {
    gap: 1rem;
    flex-direction: column;
    flex: 1 1 45%;
  }

  .hero {
    padding: 10vh 8vw 10vh 8vw;
  }
}

@media screen and (max-width: 600px) {
  .hero-about-link {
    max-width: 90%;
  }

  .hero-photo {
    align-self: flex-start;
    max-width: 35%;
    margin: auto 0;
  }

  .hero-photo-text {
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }

  .hero-text {
    gap: 1rem;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }

  .hero {
    padding: 10vh 8vw 10vh 8vw;
  }
}

.hero-photo {
  display: flex;
  border-radius: 0.25rem;
  border: 2px solid var(--border);
}

.hero-text > * {
  display: flex;
  align-items: center;
}

.hero-text {
  display: flex;
  color: var(--text);
}

.job-title {
  color: var(--accent);
}

.hero-photo-text {
  display: flex;
  text-align: start;
}

.hero-content-container {
  position: relative;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.fade-image.active {
  opacity: 1;
}

.fade-image {
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  transition: opacity 1.25s ease-in-out; /* Fade duration */
  transform: translate(-50%, -50%) scale(3.5);
  filter: blur(2px) brightness(0.5);
}

.hero-slider-container {
  height: 100%;
  width: 100%;
}

.hero {
  overflow: hidden;
  position: relative;
  background-color: black;
}
