.section-container h3 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0 0 2rem 0;
}

.about-column > img {
  margin: auto;
}

.about-column > img {
  margin: auto;
}

.about-column {
  flex: 1 1 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
}

.work_container {
  background-color: rgba(105, 105, 105, 0.315);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  overflow: scroll;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .work_container {
    flex-direction: column;
    max-height: 75vh;
  }
}

.section-container {
  border-bottom: 2px solid black;
  padding: 2rem 2rem 2rem 2rem;
}

.content-container {
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1rem solid gray;
}

.content {
  background-color: rgb(41, 41, 41);
  margin: 0 auto;
  width: 95%;
}

main {
  backdrop-filter: blur(10px);
  background-image: url(https://cdn.pixabay.com/photo/2022/04/26/13/04/sky-7158340_1280.jpg);
  background-attachment: fixed;
}
