dialog:modal {
  max-width: 100dvw;
  max-height: 100dvh;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
}

.lightbox-media-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
}

.lightbox-media-container > * {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  position: relative !important;
  transform: none !important;
  top: auto !important;
  left: auto !important;
}

.lightbox-media-container > iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  max-height: 80dvh;
}

.lightbox-close-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--accent);
  color: var(--text-h);
  border: none;
  border-radius: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  cursor: pointer;
}

.lightbox-close-button span {
  font-weight: bold;
  font-size: 2rem;
}

.lightbox-open-button {
  position: absolute;
  background-color: var(--accent);
  border: none;
  border-radius: 0 0 0 1rem;
  display: flex;
  top: 0;
  right: 0;
  padding: 0.125rem;
  color: var(--text-h);
  cursor: pointer;
  pointer-events: all;
}

.lightbox-open-button:active {
  transform: translate(15%, -15%);
}

.lightbox-open-button > * {
  font-size: var(--button-icon-font-size);
}
