.lightbox-thumbnail {

}

.lightbox-background {
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  
  /* Scale the image to cover the screen without stretching */
  object-fit: contain; /* Use 'contain' to see the whole image with letterboxing */
  object-position: center; /* Keeps the center of the image focused */
  background: transparent;
  z-index: 999;
}