.slide > * {
  width: 100%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  width: 100%;
  height: auto;
}

.slides-container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  cursor: grab;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
}

.slides-container:active {
  cursor: grabbing;
}

.carousel-indicator.active {
  background-color: var(--accent);
}

.carousel-indicator.inactive {
  background-color: var(--accent-bg);
  border: none;
}

.carousel-indicator {
  border-radius: 1rem;
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  border: none;
  background-color: var(--text-h);
  cursor: pointer;
  transition: transform 0.15s ease;
  margin: 1rem 0 1rem 0;
}

.carousel-indicator:active {
  transform: scale(0.8);
}

.carousel-indicators-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.carousel-button.right {
  right: 0;
}

.carousel-button.left {
  left: 0;
}

.carousel-button {
  padding: 0.5rem;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.85);
  color: var(--accent);
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
  width: auto;
  pointer-events: auto;
  cursor: pointer;
  transition: font-size 0.15s ease;
}

.carousel-button:active {
  font-size: 1.75rem;
}

.carousel-buttons-container {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.carousel-viewport {
  height: 100%;
  overflow: hidden;
}

.carousel-viewport-buttons-container {
  position: relative;
  background-color: black;
  border-radius: 0.25rem;
  transform: scale(1);
  transition: transform 0.125s ease;
  overflow: hidden;
  flex: 1;
  --slide-spacing: 0;
  --slide-spacing-md-up: 5%;
}

.carousel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
