.slide > * {
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: auto;
}

.slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.slides-container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  cursor: grab;
  margin-left: calc(var(--slide-spacing) * -1);
  height: 100%;
  width: 100%;
}

.slides-container:active {
  cursor: grabbing;
}

.carousel-indicator.active {
  background-color: var(--accent);
}

.carousel-indicator.inactive {
  background-color: var(--accent-bg);
  border: none;
}

.carousel-indicator {
  border-radius: 1rem;
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  border: none;
  background-color: var(--text-h);
  transition: transform 0.15s ease;
  margin: 0.25rem;
}

.carousel-indicator:active {
  transform: scale(0.9);
}

.carousel-indicators-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  pointer-events: auto;
  justify-content: center;
}

.carousel-nav-button.right {
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.carousel-nav-button.left {
  left: 0;
  border-radius: 0 1rem 1rem 0;
}

.carousel-nav-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--accent);
  font-size: 2rem;
  height: 9rem;
  font-weight: bold;
  justify-content: center;
  width: auto;
  pointer-events: auto;
  cursor: pointer;
  transition: opacity 0.25s ease;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel-captions {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-h);
  text-align: center;
}

/* Grouped Controls Layout Shell */
.carousel-controls-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.carousel-controls-spacer {
  flex-grow: 1;
}

.carousel-bg-fade-image.active {
  opacity: 1;
}

.carousel-bg-fade-image {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  height: 100%;
  transition: opacity 0.75s ease-in-out;
  transform: translate(-50%, -50%) scale(2, 1.5);
  filter: blur(8px) brightness(0.7);
  pointer-events: none;
}

.carousel-bg-container {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.carousel-viewport {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.carousel-viewport-container {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.carousel-nav-button,
.carousel-indicator {
  pointer-events: all;
}

@media (hover: hover) {
  .carousel-nav-button,
  .carousel-indicators-container {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }

  .carousel-viewport-container:hover .carousel-nav-button,
  .carousel-viewport-container:hover .carousel-indicators-container {
    opacity: 1;
  }
}
