:root {
  --carousel-height: calc(60vh + 2rem);
  --carousel-indicator-size: 1rem;
}

.carousel {
  max-width: 100%;
  max-height: 100%;
}

.carousel-button.right {
  right: 0;
}

.carousel-button.left {
  left: 0;
}

.carousel-button {
  padding: 0.5rem;
  align-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 100%;
  pointer-events: auto;
}

.carousel-buttons-container {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel-indicator.inactive {
  background-color: gray;
}

.carousel-indicator.active {
  background-color: white;
}

.carousel-indicator {
  border-radius: var(--carousel-indicator-size);
  flex: 0 0 var(--carousel-indicator-size);
  width: var(--carousel-indicator-size);
  height: var(--carousel-indicator-size);
  border: none;
}

.carousel-indicators-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.carousel-viewport {
  flex: 1 1 auto;
  overflow: hidden;
}

.slides-container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.slide > * {
  height: 100%;
  margin: auto auto;
}

.slide {
  width: 100%;
  flex: 0 0 auto;
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: var(--carousel-height);
}

.carousel-viewport-buttons-container {
  position: relative;
  display: flex;
  background-color: black;
  height: 100%;
  --slide-spacing: 0;
  --slide-spacing-md-up: 5%;
}
