:root {
  --navbar-height: calc(3rem + 4px);
}

.nav-button,
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  background-color: transparent;
  transition: background-color 0.1s ease;
  font-weight: bold;
}

.nav-button.home {
  gap: 1rem;
  justify-content: space-between;
}

.nav-button.home,
.nav-button.menu {
  width: auto !important;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.nav-links-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
}

.nav-content-container {
  position: relative;
  width: 100%;
  height: fit-content;
  top: -2px;
  display: flex;
  justify-content: space-between;
}

.nav-spacer {
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  border-bottom: 2px solid var(--accent);
  border-top: 2px solid var(--accent);
  background-color: var(--bg);
  padding: 0 0.5rem 0 0.5rem;
}

.mobile-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 600px) {
  .nav-button.home,
  .nav-button.menu {
    border: none;
    background-color: transparent;
  }

  .nav-links-container.show {
    display: block;
  }

  .nav-links-container.hide {
    display: none;
  }

  .nav-links-container {
    position: fixed;
    display: flex;
    flex-direction: column;

    top: var(--navbar-height);
    width: 100%;

    gap: 1rem;
  }

  .nav-button {
    width: 100%;
    background-color: var(--bg);
    border-radius: 0;
    border-bottom: 2px solid var(--accent);
  }

  .project-button {
    visibility: visible;
  }

  .mobile-background {
    display: inline-block;
  }

  .site-title {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .nav-links-container {
    justify-content: flex-end;
    height: var(--navbar-height);
    gap: 1.5rem;
  }

  .nav-button.menu {
    display: none;
  }

  .project-button {
    display: none;
  }

  .mobile-background {
    display: none !important;
  }
}
