:root {
  --navbar-height: 2.25rem;
}

.nav-spacer {
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
}

.nav-link {
  color: white;
}

.nav-button {
  display: flex;
  align-items: center;
  border: 1px solid red;
  height: 100%;
  padding: 0.5rem;
  color: white;
  background-color: gray;
}

.hamburger-icon {
  display: none;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
  height: var(--navbar-height);
  flex: 1 1 auto;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: flex; /* Show the hamburger on smaller screens */
  }

  .nav-links-container {
    position: relative;
    top: var(--navbar-height);
    flex: 1 1 auto;
  }

  .nav-links-container.inactive {
    display: none; /* Show menu when active class is added */
  }

  .nav-links-container.active {
    display: flex; /* Show menu when active class is added */
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: var(--navbar-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
