:root {
  --navbar-height: 2rem;
  --navbar-bg: rgba(44, 44, 80, 0.904);
}

.nav-spacer {
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.829);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: var(--navbar-height);
  align-items: center;
}

.mobile-nav-links-overlay {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  padding: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
  pointer-events: auto;
}

.nav-links-list {
  background-color: var(--accent-bg);
  gap: 0;
  display: flex;
  list-style: none;
}

.nav-btn {
  font-family: monospace;
  background-color: var(--accent-bg);
  font-weight: 200;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 0.75rem;
  font-size: 1.25rem;

  border: none !important;
}

.nav-btn.active,
.nav-btn:focus-visible {
  color: white;
  border: 1px solid white !important;
  border-bottom: 4px solid rgb(223, 239, 241) !important;
  background: linear-gradient(
    to right,
    white -100%,
    var(--navbar-bg) 25%,
    var(--navbar-bg) 75%,
    white 200%
  );
}

@media screen and (min-width: 600px) {
  nav {
    justify-content: flex-start;
  }

  .nav-links-list {
    position: relative;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
  }

  .nav-btn {
    height: calc(var(--navbar-height) + 4px);
    top: 0;
    border: 1px solid white;
    transform: translateY(-2px);
  }

  .nav-btn.mb-hamburger {
    display: none;
  }

  .nav-btn.active,
  .nav-btn:focus-visible {
    transform: translateY(2px);
  }
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
  }

  .nav-links-list {
    position: fixed;
    top: calc(var(--navbar-height));
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .nav-links-list.is-shown {
    visibility: visible;
    display: flex;
  }

  .nav-links-list.is-hidden {
    visibility: hidden;
    display: none;
  }

  .nav-btn {
    height: calc(var(--navbar-height));
  }

  .nav-btn.mb-hamburger {
    display: inline-flex;
  }
}
