:root {
  --navbar-height: 3rem;
}

.nav-spacer {
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
}

@media screen and (max-width: 600px) {
  .nav-links-container.show {
    display: block;
  }

  .nav-links-container.hide {
    display: none;
  }

  .nav-links-container {
    position: fixed;
    top: var(--navbar-height);
    width: 100%;
  }

  .nav-button {
    width: 100%;
    padding: 2rem;
  }

  .mobile-background {
    display: inline-block;
  }

  .site-title {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .nav-links-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: var(--navbar-height);
  }

  .nav-button.menu {
    display: none;
  }

  .mobile-background {
    display: none !important;
  }
}

.nav-links-container {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

.nav-button.home {
  gap: 1rem;
  justify-content: space-between;
}

.nav-button > *,
.nav-link > * {
  padding: 0;
  margin: 0;
}

.nav-button,
.nav-link {
  color: var(--text-h);
  height: var(--navbar-height);
  background-color: var(--accent);
  line-height: var(--navbar-height);
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border: none;
  filter: brightness(100%);
}

.nav-button:hover {
  filter: brightness(110%);
}

.nav-button.home,
.nav-button.menu {
  width: auto !important;
  padding: 0.5rem;
}

.nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--accent);
  height: var(--navbar-height);
  justify-content: space-between;
}

.mobile-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
}
