:root {
  --navbar-height: 2.25rem;
}

.nav-spacer {
    top:0;
    left:0;
    right:0;
    height: var(--navbar-height);
}

.nav {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: red;
    height: var(--navbar-height);
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
}



.navbar_button {
    background-color: rgb(80, 80, 80);
    color:white;
    text-align: center;
    height: var(--navbar-height);
    justify-self: right;
}

.navbar_button.mobile {
    display:none;
}

.mobile_menu {
    display:flex;
    flex-direction: row;
    justify-content: right;
    flex:1;
}

@media (width < 768px) {

    .mobile_menu {
        flex-direction: column;
    }

    .mobile_menu.closed {
        display:none;
    }

    .mobile_menu.open {
        display:flex;
    }

    .navbar_button.mobile {
        display:flex;
    }
}