@media screen and (min-width: 1200px) {
  .carousel-container {
    flex: 0 0 65%;
    margin: auto;
  }

  .project-body {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
  }

  .project-container {
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .project-media {
    list-style-position: outside;
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .project-body {
    width: 100%;
  }

  .carousel-container {
    margin: auto;
  }

  .project-container {
    height: fit-content;
  }

  .project-media {
    list-style-position: inside;
  }
}

.project-media {
  width: 100%;
  border-radius: 0.25rem;
  margin: auto;
}

.project-body-section {
  width: 100%;
}

.project-body {
  background-color: var(--accent-bg);
  color: var(--text);
  padding: 1rem;
}
