:root {
  --project-body-padding: 0.5rem;
  --project-section-padding: 0.5rem;
}

.proj-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  border: none;

  background-color: var(--bg);
}

.proj-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

.proj-header {
  height: auto; /* Allow header to change size dynamically with text */
  flex: 0 0 auto; /* Zero out flex-grow so it strictly shrinks to its content footprint */
  padding: 0.5rem 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.proj-header * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--accent);
}

.proj-header > h1 {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding-right: 2.3rem;
  font-size: 5cqw;
  line-height: 5cqh;
}

.proj-link-copy-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  cursor: pointer;
}

.proj-back-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--accent);

  span {
    font-size: 2rem;
  }
}

.proj-panes-container {
  flex: 1 1 auto; /* Forces body content layout to absorb all extra screen height */
  overflow-y: hidden;
  display: flex;

  flex-wrap: wrap;
  outline-offset: -4px;
}

.proj-pane.showcase {
  background-color: var(--accent-bg);
}

.proj-pane.details {
  overflow-y: auto;
  background-color: var(--accent-bg);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.proj-pane.details section {
  width: 100%;
  height: fit-content;
}

.proj-pane.details header {
  margin: 0.75rem 0 0.75rem 0;
  color: var(--text-h);
  width: 100%;
  text-align: start;
  font-size: 1.2rem;
}

.proj-media {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0.25rem 0;
  anchor-name: --project-body-media-anchor;
}

.proj-media * {
  overflow-wrap: break-word;
  word-break: break-word;
  color: var(--text);
}

ul.proj-media {
  padding-left: 1.5rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

ul.proj-media > * {
  list-style-position: outside;
  margin: 0 0 0 1rem;
}

ul.proj-media > *::marker {
  color: var(--accent);
  font-size: 1.25rem;
}

.proj-media * code:only-of-type {
  border: 2px solid color-mix(in srgb, var(--accent) 50%, transparent);
  color: var(--subtitle) !important;
  padding: 0.125rem;
  background-color: var(--bg);
  font-family: monospace;
}

.proj-media * b:only-of-type {
  color: var(--accent) !important;
}

@media screen and (max-width: 600px) {
  .proj-header > h1 {
    font-size: 5cqw;
    line-height: 5cqh;
  }

  .proj-panes-container {
    flex-direction: column;
  }

  .proj-pane.showcase {
    flex: 1;
    width: 100%;
  }

  .proj-pane.details {
    flex: 1;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .proj-header > h1 {
    font-size: 1.5rem;
  }

  .proj-panes-container {
    flex-direction: row;
  }

  .proj-panes-container > * {
    max-height: 100%;
  }

  .proj-pane.showcase {
    width: 50%;
  }

  .proj-pane.details {
    width: 50%;
  }
}

/*




.project-media.lightboxed {
  border: 2px solid var(--accent);
  padding: 0;
}

.lightbox-button.wrapper span {
  font-size: calc(var(--button-icon-font-size) * 0.75);
}

.lightbox-button.wrapper {
  position: absolute;
  height: var(--button-icon-font-size);
  width: var(--button-icon-font-size);
}

.lightbox-trigger-wrapper {
  border: 2px solid var(--accent);
  position: relative;
  border-radius: 0.25rem;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
 */
