.card-thumbnail {
  position: relative;
  max-width: 100%;
  height: auto;
  bottom: 0;
}

.card-thumbnail-container {
  width: auto;
  height: 100%;
  overflow: hidden;
  background-color: rgb(172, 172, 172);
  flex: 1 1 100%;
  border-radius: 0.25rem;
}

.card-title {
  color: white;
  text-decoration: none;
  margin: 0.5rem 0 0.5rem 0;
}

.projectcard {
  flex: 0 1 48%;
  height: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(84, 84, 84);
}

@media screen and (max-width: 768px) {
  .projectcard {
    flex: 1 0 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(84, 84, 84);
  }
}
