:root {
  --project-body-padding: 0.5rem;
  --project-section-padding: 0.5rem;
}

.project-dialog {
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.project-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.project-body-container {
  position: relative;
  background-color: var(--bg);
  color: var(--text);
  min-height: 0;
  overflow-y: auto;
}

.carousel-container {
  position: relative;
}

.project-title {
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-bottom: 4px solid var(--accent);
  color: var(--accent);
  filter: brightness(1.2);
  font-size: x-large;
}

.project-body-sections-container {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid var(--accent);
  background-color: var(--accent-bg);
  padding: var(--project-body-padding);
}

.project-body-section-container {
  width: 100%;
  padding: var(--project-section-padding);
  height: fit-content;
}

.project-body-section-heading {
  margin: 0;
  padding-bottom: var(--project-section-padding);
  margin-bottom: var(--project-section-padding);
  color: var(--text-h);
  border-bottom: 2px solid var(--accent);
  width: 100%;
}

.project-body-media-container > *:not(:last-child) {
  padding-bottom: var(--project-section-padding);
}

.project-body-media-container {
  display: flex;
  flex-direction: column;
}

ul.project-media {
  padding-left: 1rem;
}

ul.project-media > *::marker {
  color: var(--accent);
}

code.project-media {
  border-radius: 0.25rem;
  border: 2px solid var(--accent);
  color: var(--text-h);
  padding: var(--project-section-padding);
}

.project-media {
  width: 100%;
  height: fit-content;
  border-radius: 0.25rem;
  list-style-position: outside;
  text-align: left;
  margin: 0;
}

.project-close-button {
  position: fixed;
  background-color: var(--accent);
  border: none;
  border-radius: 0 0 1rem 0;
  display: flex;
  top: 0;
  left: 0;
  padding: 0.125rem;
  color: var(--text-h);
}

.project-close-button:active {
  transform: translate(-15%, -15%);
}

.project-close-button > * {
  font-weight: bold;
  font-size: var(--button-icon-font-size);
}

@media screen and (max-width: 600px) {
  .project-container {
    flex-direction: column;
  }

  .carousel-container {
    width: 100%;
    height: 45dvh;
  }

  .project-body-container {
    width: 100%;
    flex: 1;
  }
}

@media screen and (min-width: 600px) {
  .project-container {
    flex-direction: row;
  }

  .carousel-container {
    flex: 1;
    height: 100%;
  }

  .project-body-container {
    width: 400px;
    height: 100%;
  }
}
