.card-thumbnail-container {
  overflow: hidden;
}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.projectcard {
  display: flex;
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background-color: rgb(84, 84, 84);
}

@media screen and (max-width: 768px) {
  .card-thumbnail {
    height: 100%;
    margin: 0 auto;
  }

  .projectcard {
    display: flex;
    background-color: rgb(84, 84, 84);
  }
}
