.top-nav-button {
  position: fixed;
  border-radius: var(--button-icon-font-size);
  font-weight: bold;
  font-size: var(--button-icon-font-size);
  padding: calc(var(--button-icon-font-size) / 8);
  margin: 0.75rem;
  bottom: 0rem;
  right: 0rem;
  background-color: transparent;
  transition: opacity 0.15s ease;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-h);
}
