/* Desktop Media Query */
@media screen and (min-width: 600px) {
  .widget-container {
    border: none;
  }
}

.widgets-container {
  overflow: hidden;
  display: flex;
  gap: 1rem;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.widget-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 4rem;
  margin: 0.5rem;
  transition: transform 0.05s linear;
  border-radius: 0.25rem;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
}

.widget-container:hover {
  transform: scale(1.1);
}

.widget {
  font-size: 90cqw;
  white-space: nowrap;
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: auto;
  transition: filter 0.05s linear;
}
