*,
*::before,
*::after {
  box-sizing: border-box;
}

html:has(dialog[open]) {
  overflow: hidden;
  scrollbar-gutter: stable;
}

:root {
  --bg: #000000;
  --accent-bg: #1a1a1a;
  --text-h: #ffffff;
  --accent: rgb(0, 187, 125);
  --text: #c5c5c5;
  --shadow:
    rgba(0, 0, 0, 0.5) 0 8px 10px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --border-static: 1px solid #2d2d2d;
  --border-interactive: 2px solid #555555;
  --focus-ring: 3px solid #22d3ee;
  --border-radius: 0.25rem;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  scroll-behavior: smooth;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1536px) {
    font-size: 16px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  background-image: url(https://cdn.pixabay.com/photo/2022/04/26/13/04/sky-7158340_1280.jpg);
  background-attachment: fixed;
  backdrop-filter: blur(100px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: bold;
  color: var(--text-h);
}

h1 {
  font-size: 42px;
  font-weight: 800;
  @media (max-width: 768px) {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  font-weight: 700;
  letter-spacing: -0.24px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

p {
  font-size: 14px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}
