.top-nav-button {
  position: fixed;
  border-radius: var(--button-icon-font-size);
  font-weight: bold;
  font-size: var(--button-icon-font-size);
  padding: calc(var(--button-icon-font-size) / 8);
  margin: 0.75rem;
  bottom: 0rem;
  right: 0rem;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-h);

  transition: opacity 0.2s ease;
}

.top-nav-button.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.top-nav-button.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.top-nav-button span {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
